<%- include('header'); %>

<body>
    <header class="header fixed-top">
        <div class="branding docs-branding">
            <div class="container-fluid position-relative py-2">
	            <div class="docs-top-utilities d-flex justify-content-end align-items-center">

					<ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
                        <li class="list-inline-item"><a href="https://gitlab.com/daudyusuf"><i class="fab fa-github fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/daudonhere/"><i class="fab fa-linkedin fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/hellodaud/"><i class="fab fa-instagram fa-fw"></i></a></li>
		            </ul><!--//social-list-->
	            </div>
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->


    <section class="cta-section text-center py-5 theme-bg-dark position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h3 class="mb-2 text-white mb-3">Uh oh! That's an error. The page you've requested can't be found.</h3>

        <p class="text-white" style="font-size: 130px;"><strong>404</strong></p>

        <a href= <%= config.url %> ><h5 class="text-white">BACK TO HOME PAGE</h5></a>
        <div class="banner-ads">
          <!-- Replace your Ad Code here -->
            <img src="images/banner.png"/>
          <!-- End Ad Code -->
        </div>
       </div>
    </section><!--//cta-section-->



    <footer class="footer">

	    <div class="footer-bottom text-center py-5">

		    <ul class="social-list list-unstyled pb-4 mb-0">
                <li class="list-inline-item"><a href="https://gitlab.com/daudyusuf"><i class="fab fa-github fa-fw"></i></a></li>
				<li class="list-inline-item"><a href="https://www.linkedin.com/in/daudonhere/"><i class="fab fa-linkedin fa-fw"></i></a></li>
				<li class="list-inline-item"><a href="https://www.instagram.com/hellodaud/"><i class="fab fa-instagram fa-fw"></i></a></li>
	        </ul><!--//social-list-->

	        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by getVideo</small>


	    </div>

    </footer>

    <!-- Javascript -->
    <script src="assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/javascripts/script.js"></script>

</body>
