<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content= "<%= config.description %>" />


<!-- Open Graph data -->
<meta property="og:title" content= "<%= config.title %>" />
<meta property="og:type" content="website"/>
<meta property="og:url" content= "<%= config.url %>" />
<meta property="og:image" content="<%= config.url %>/images/video-favicon.png"/>
<meta property="og:image:width" content="260"/>
<meta property="og:image:height" content="260"/>
<meta property="og:site_name" content= "<%= config.title %>" />
<meta property="og:description" content= "<%= config.description %>" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content= "<%= config.title %>" >
<meta name="twitter:description" content= "<%= config.description %>" >
<meta name="twitter:image" content="<%= config.url %>/images/video-favicon.png">
<meta name="twitter:image:src" content="images/video-favicon.png">
<meta name="twitter:url" content= "<%= config.url %>" >

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

<!-- FontAwesome JS-->
<script defer src="assets/fontawesome/js/all.min.js"></script>

<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="assets/css/theme.css">


<!-- Custom styles for this template -->
<link href="/stylesheets/style.css" rel="stylesheet">
</head>
